.menu{
    margin: 40px;
    font-size: xx-large;
    font-weight: bolder;
    font-style:normal;
    margin-top: 100px;
    background-color: green;
    width: 40%;
    
  
}

p{
    margin: 40px;
    font-size: xx-large;
    font-weight: bolder;
    font-style:normal;
    

    
}

.menu a:hover{
    background-color: darkgreen;
    

}

.menu a{
    color: white;
    font-style: normal;
}

.menu a:link{
    text-decoration: none;

}